<a href="https://colab.research.google.com/github/YashKarande/adpt/blob/main/ADPT_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python program that asks for the baggage weight  and lets the user know 
#while its weight exceeds the baggage limit of 15 kg. 
#asks to remove something and say how much removed
#recomputes the new weight

def cal_weight(check_weight):
  if check_weight > 15 and check_weight > 0:
      your_weight = check_weight-15
      print("Your baggage weight has exceeded!, Please remove",your_weight,"more weight")
      recheck(check_weight);
  else:
     print("Your baggage is under weight, You can proceed")

def recheck(your_weight):
  r_weight = float(input("Enter how much weight to remove: "))
  new_weight = your_weight - r_weight
  print("Your new weight is: ",new_weight)
  cal_weight(new_weight)

def check():
    weight = input("Enter Your Baggage Weight: ")
    try:
      check_weight = float(weight)
      print("Your Entered Weight is: ",check_weight)   
    except ValueError:
      print("Try again, Enter a Valid Number")
      check();
    cal_weight(check_weight);

check();

Enter Your Baggage Weight: 18
Your Entered Weight is:  18.0
Your baggage weight has exceeded!, Please remove 3.0 more weight
Enter how much weight to remove: 2
Your new weight is:  16.0
Your baggage weight has exceeded!, Please remove 1.0 more weight
Enter how much weight to remove: 3
Your new weight is:  13.0
Your baggage is under weight, You can proceed

In [ ]:
#add the numbers to 93 using a loop
c = 1
for x in range(94):
  c = c + x
  print(c)

In [ ]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Find the sum of all the multiples of 3 or 5 below 1000.
a = 0
for x in range(1,10):
  if(x % 3 == 0 or x % 5 == 0):
    a = a + x
    print(x)
print(a)

3
5
6
9
23

In [ ]:
#Write a function to find the sum of all the multiples of x or y below n.
#where (x,y,n) are parameters to the function
n = int(input("Enter range: "))
x = int(input("Enter value of x for first multiple: "))
y = int(input("Enter value of y for secound multiple: "))

def work(x,y,n):
  a = 0
  for i in range(1,n):
    if(i % x == 0 or i % y == 0):
      a = a + i
      print(i)
  print(a)

work(x,y,n)

Enter range: 10
Enter value of x for first multiple: 2
Enter value of y for secound multiple: 3
2
3
4
6
8
9
32

In [ ]:
#In class exercise: Create a function that returns the sum of the first n numbers, where n is given as function parameter. 

def sum(n):
  x=0
  for i in range(n):
    x = x + i
  return x

n = int(input('Enter value of n: '))
sum(n)

Enter value of n: 6

15

In [ ]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.

def work():
  a = 0
  for x in range(1,10):
    if(x % 3 == 0 or x % 5 == 0):
      a = a + x
      print(x)
  print(a)

work()

3
5
6
9

23

In [ ]:
#List 1
#Create a function to find the sum of all the multiples of a or b in list l
#a,b,l are function parameters

l = [1,2,3,4,5,6,7,8,9]
a = int(input("Enter value of a for first multiple: "))
b = int(input("Enter value of b for secound multiple: "))

def work(a,b,n):
  c = 0
  for i in range(1,n):
    if(i % a == 0 or i % b == 0):
      c += i
      print(i)
  return c

work(a,b,n)

Enter value of a for first multiple: 2
Enter value of b for secound multiple: 3
2
3
4
6
8
9

32

In [ ]:
#List 2
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Create a function to find the sum of all the multiples of numbers in list a
#contained in list l
#a,l are function parameters and a is of length 2

a = [3,5]
l = [1,2,3,4,5,6,7,8,9]

def cal():
  c = 0
  for i in l:       
    for j in a:
      if i % j == 0:
        c += i
        break
  return c

cal()

23

In [ ]:
#List 3
#Create a function to find the sum of all the multiples of numbers in list a
#contained in list l
#a,l are function parameters

def list():
  n = int(input('Enter the length of list 1: '))
  m = int(input('Enter the length of list 2 which includes the multiples: '))
  a = []
  l = []

  for i in range(n):
    a.append(i)
  for i in range(m):
    x = int(input('Enter the multiples of list 2: '))
    l.append(x)
    
  cal(a,l)

def cal(a,l):
  c = 0
  for i in a:       
    for j in l:
      if i % j == 0:
        c += i
        break
  print(c)

list()

Enter the length of list 1: 1000
Enter the length of list 2 which includes the multiples: 4
Enter the multiples of list 2: 2
Enter the multiples of list 2: 3
Enter the multiples of list 2: 5
Enter the multiples of list 2: 7
385788

In [ ]:
#s([2,3,5,7],range(1000))
#385788

def s(a,l):
  total=0

  for i in l:
    for j in a:
      if i%j==0:
        total+=i
        break
  return total

s([2,3,5,7],range(1000))

385788

In [ ]:
#s([2,3,5],range(1000))
#366832

def s(a,l):
  total=0

  for i in l:
    for j in a:
      if i%j==0:
        total+=i
        break
  return total

s([2,3,5],range(1000))

366832

In [ ]:
#s([2,3,5],[1,2,3,4,5,6,7,8,9,15,9])
#61
def s(a,l):
  total=0

  for i in l:
    for j in a:
      if i%j==0:
        total+=i
        break
  return total

s([2,3,5],[1,2,3,4,5,6,7,8,9,15,9])

61