<a href="https://colab.research.google.com/github/YashKarande/AD-PYTHON/blob/main/File_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
#File exercise
#If we list all the natural numbers below 10 that are multiples of 3 or 5, 
#we get 3, 5, 6 and 9. The sum of these multiples is 23.

#Create a function to find the sum of all the multiples of numbers 
#listed in file aone per line 
#contained in another file l, also one per line
#a,l are function parameters

f=open('NaturalNosBelow10','w')
for c in ['1','2','3','4','5','6','7','8','9','10','15','9']:
  f.write(c+'\n')

f=open('Multiples','w')
for c in ['3','5']:
  f.write(c+'\n')

In [ ]:
f=open('NaturalNosBelow10')
f.seek(0)
print(f.read())

In [ ]:
g=open('Multiples')
g.seek(0)
print(g.read())

In [ ]:
total=0
with open('NaturalNosBelow10') as f:
  for line1 in f:
    with open('Multiples') as g:
      for line2 in g:  
 #       print(int(line1),int(line2))
        if int(line1)%int(line2)==0:
          total+=int(line1)
          break

In [72]:
print(total)

57